<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
          package="org.fsgt38.fsgt38"
          xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET"/>

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:name=".FSGT38Application"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="GoogleAppIndexingWarning">

		<activity
			android:name=".StartActivity"
			android:label="@string/app_name">

			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".RechercheActivity"
			android:label="@string/titre_recherche"
			android:launchMode="singleTop">
		</activity>

		<activity
			android:name=".EquipeActivity"
			android:label="@string/app_name"
			android:parentActivityName=".RechercheActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".RechercheActivity" />
		</activity>

		<activity
			android:name=".ChampionnatActivity"
			android:label="@string/app_name"
			android:parentActivityName=".RechercheActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".RechercheActivity" />
		</activity>

		<activity
			android:name=".CoupeActivity"
			android:label="@string/app_name"
			android:parentActivityName=".RechercheActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".RechercheActivity" />
		</activity>

		<activity
			android:name=".LoginActivity"
			android:label="@string/titre_login">
		</activity>

		<activity
			android:name=".ResultatsActivity"
			android:label="@string/titre_resultats">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".RechercheActivity" />
		</activity>

		<activity
			android:name=".ImageActivity"
			android:label="@string/titre_feuille">
		</activity>

		<activity
			android:name=".FairplayActivity"
			android:label="@string/titre_fairplay">
		</activity>

		<activity
			android:name=".ResultatMatchActivity"
			android:label="@string/resultat">
		</activity>

		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="${applicationId}.provider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_provider_paths" />
		</provider>

	</application>

</manifest>